/*
DUI GRID CSS file:
## Follows 100% width grid
## s - mobile 320px - 480px
## m - tablet 480px - 767px
## l - laptop 768px and 991px
## xl - desktop 992px - 1280px

 */

.dui-col-100{

}

.dui-col-50{

}

/*
Mobile potrait
 */
@media only screen and (min-width: 320px) and (max-width: 479px){
  [class*="ds-col-s"] {
    width: 100%;
    float: none;
  }

}

@media only screen and (min-width: 480px) and (max-width: 767px){
  [class*="ds-col-m"] {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  [class*="ds-col-l"] {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 992px){
  [class*="ds-col-xl"] {
    width: 100%;
    float: none;
  }
}
